# General
.DS_Store
*.log
*.tmp
.env
.env.local
node_modules
dist
.vscode
!.vscode/extensions.json

# PlatformIO
.pio

# Cloudflare Workers
.wrangler

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# IDE
.idea/
*.swp
*.swo

# OS
Thumbs.db
